{% extends 'main.html' %}
{% load static %}
{% block title %}Customer Details{% endblock title %}
{% block content %}

<h2>{{ customer_details.customer_name }} - {{ customer_details.customer_address }}</h2>
<br>
{% if client.status == 'shop_keeper' %}
<div class='flx'>
    <a href="{% url 'customers:add_customer' customer_details.shop.id %}"><img class='icon-btn' src='{% static "images/add_new.png" %}'></a>
    <a href="{% url 'customers:update_customer' customer_details.id %}"><img class='icon-btn' src='{% static "images/edit.png" %}' ></a>
    <a href="{% url 'customers:delete_customer' customer_details.id %}"><img class='icon-btn'  src="{% static 'images/delete.png' %}"></a>
    <a href="{% url 'customers:share_customer_details' customer_details.id %}"><img class='icon-btn'  src="{% static 'images/share.png' %}"></a>
    
</div>
{% endif %}

<div class="order-container">
    <!-- Customer Details -->
    <section class="client-details card">
        <h3>Customer</h3>
        <div class="measurement-grid">
            <p><strong>تاریخ:</strong> <br>{{ customer_details.date_time }}</p>
            <p><strong> ارڈر نمبر:</strong> <br> {{ customer_details.serial_number }}</p>
            <p><strong>فون:</strong> <br> {{ customer_details.customer_phone }}</p>
            <p><strong>ایڈرس:</strong> <br> {{ customer_details.customer_address }}</p>
            <p><strong>اپرانا حساب:</strong> <br> {{ order.previous }}</p>
            <p><strong>ٹوٹل:</strong> <br>{{ order.total_price }}</p>
            <p><strong>اڈوانس:</strong> <br>{{ order.advance }}</p>
            <p><strong>بقایا:</strong> <br>{{ order.remining }}</p>
            <p><strong>واپسی تاریخ:</strong><br> {{ order.delivery_date }}</p>
        </div>
    </section>

    <!-- Measurement Details -->
    <section class="measurement-details card">
        <h3>Measurements</h3>
        <div class="measurement-grid">
            <p><strong>لمبایی:</strong> <br> {{ measurement_added.lambayi }}</p>
            <p><strong>چوڑائی:</strong> <br> {{ measurement_added.choriyi }}</p>
            <p><strong>چھاتی:</strong> <br> {{ measurement_added.chest }}</p>
            <p><strong>بازو:</strong> <br> {{ measurement_added.bazoo }}</p>
            <p><strong>استین:</strong> <br> {{ measurement_added.asteen }} - {{ measurement_added.asteen_choriti }}</p>
            <p><strong>مونڈا:</strong> <br> {{ measurement_added.monda }}</p>
            <p><strong>تیرا:</strong> <br> {{ measurement_added.teera }}</p>
            <p><strong>شلوار:</strong> <br> {{ measurement_added.shalwar }}</p>
            <p><strong>پانچہ:</strong> <br> {{ measurement_added.pancha }}</p>
        </div>
    </section>

    <!-- Additional Information -->
    <section class="additional-info card">
        <h3>Additional Information</h3>
        <div class='measurement-grid'>
            <p><strong>گلہ:</strong> <br> {{ measurement_added.gala }} - {{ measurement_added.gala_type }}</p>
            <p><strong>سیلای:</strong> <br> {{ measurement_added.seelai }}</p>
            <p><strong>گیرا:</strong> <br> {{ measurement_added.gehra }}</p>
            <p><strong>پاکٹ:</strong> <br> {{ measurement_added.pockets }}</p>
        </div>
    </section>

    <!-- Extra Details -->
    <section class="additional-info card">
        <h3>Extra</h3>
        <div class="measurement-grid">
            <p><strong>باقی معلومات:</strong> <br> {{ measurement_added.extra }}</p>
        </div>
    </section>
</div>

{% endblock content %}