{% extends 'main.html' %}
{% block title %}Login{% endblock title %}
{% block un_auth %}

<div class="form-container">
    <div class="form-box">
        <h2>لاگ ان</h2>
<p>لاگ ان کرنے کے لیے اپنی تفصیلات درج کریں۔</p>
<form method="POST">
    {% csrf_token %}
        <div class="input-group">
            <label for="username">پورا نام</label>
            <input type="text" id="username" name="username" placeholder="اپنا پورا نام درج کریں" required>
        </div>
        <div class="input-group">
            <label for="email">ای میل</label>
            <input type="email" id="email" name="email" value="@gmail.com" required>
        </div>
        <div class="input-group">
            <label for="password">پاس ورڈ</label>
            <input type="password" id="password" name="password" placeholder="اپنا پاس ورڈ درج کریں" required>
        </div>
                    <button type="submit" class="submit-btn">Log In</button>

</form>
            
        </form>
    </div>
</div>
<h2>
    <a href="{% url 'login:password_reset' %}"><span style="color:yellow">پاس ورڈ بھول گئے؟</span></a><br>
    <a href="{% url 'login:register_user' %}"><span>نیا اکاؤنٹ رجسٹر کریں۔</span></a>
</h2>
{% endblock un_auth %}
