{% extends 'main.html' %}

{% block un_auth %}
<div class="form-container">
    <form method="POST">
    {% csrf_token %}
    <h2>
        New Password
    </h2>
    <p>
        Please type your new password.
    </p>
    <label for='password'>Password</label><br>
    <input type="password" name='password'>
    <br>
    <label for="renter_password">Re-Enter</label>
    <br>
    <input type="password" name='renter_password'><br>
    <input type="submit" value="Save">
</form>
</div>

{% endblock %}