{% extends 'main.html' %}

{% block both %}
<h2 style="color:white">آپ کیسے لاگ ان کرنا چاہیں گے؟</h2>
<form method="POST" class="flx">
    {% csrf_token %}
    <input name='button' type="submit" class="neon-btn" value="دکان دار">
    <input name="button" type="submit" class="neon-btn" value="کاریگر">
</form>
<a href="{% url 'login:password_reset' %}"><span style="color:yellow">پاس ورڈ بھول گئے۔</span></a><br>
<a href="{% url 'login:register_user' %}"><span>نیا اکاؤنٹ رجسٹر کریں۔</span></a>
{% endblock both %}